@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
/* Main container */
.order-table-container {
  background-color: #f9f9f9;
  margin-left: -30px;
  overflow-x: auto; /* Allow horizontal scroll if needed */
}

/* Table container */
.tablee-containero {
  width: 100%;
  margin: 0;
  position: static;
}

/* Additional styling for Ant Design table if needed */
.tablee-containero .ant-table-wrapper {
  width: 100%;
}

.tablee-containero .ant-table {
  width: 1140px;
  margin-left: 390px;
}